# Activité guidée : Découverte de Pandas

In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### 1. Nettoyer les titres de colonnes :
- Supprimer les espaces au début et à la fin des titres (s’il y en a)
- Remplacer les espaces par des underscores (ceux se situant entre les mots)
- Tout mettre en minuscule

In [135]:
df_anim = pd.read_csv('data/df_anim.csv')
df_veg = pd.read_csv('data/df_veg.csv')
df_pop = pd.read_csv('data/df_pop.csv')

In [136]:
for df in [df_anim, df_veg, df_pop]:
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')

### 2. Quelle sont les dimensions des jeux de données ?

In [137]:
for df in [df_anim, df_veg, df_pop]:
    print(df.shape)

(31542, 14)
(93458, 14)
(366, 14)

### 3. A quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [138]:
# animals
df_anim.head()

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,2018,2018,g/personne/jour,1.09,E,Valeur estimée

In [139]:
# vegetables
df_veg.head(200)
df_veg["symbole"].value_counts()

E    70320
I    23138
Name: symbole, dtype: int64

In [140]:
# population
df_pop.head()

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2018,2018,1000 personnes,57793.00,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2019,2019,1000 personnes,58558.27,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),3,Albanie,511,Population totale,2501,Population,2018,2018,1000 personnes,2883.00,X,Ciffre de sources internationales

### 4. Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal’ et ‘vegetal’. Une fois cette étape effectuée, regroupez les deux jeux de données en 1 et appelez ce DataFrame product. Attention à bien comprendre la structure des données pour utiliser la bonne méthode.

In [141]:
df_veg["type"] = "vegetable"
df_anim["type"] = "animal"


produits = pd.concat([df_anim, df_veg], axis=0)
produits

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole,type
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée,animal
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée,animal
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée,animal
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée,animal
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,2018,2018,g/personne/jour,1.09,E,Valeur estimée,animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93453,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,661,Disponibilité alimentaire (Kcal),2899,Miscellanees,2019,2019,million kcal,15718.43,I,Valeur imputée,vegetable
93454,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2018,2018,g/personne/jour,0.04,E,Valeur estimée,vegetable
93455,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2019,2019,g/personne/jour,0.09,E,Valeur estimée,vegetable
93456,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2018,2018,g/personne/jour,0.01,E,Valeur estimée,vegetable
93457,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2019,2019,g/personne/jour,0.04,E,Valeur estimée,vegetable

## 5. Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population. Renommer la colonne ‘value’ en ‘pop_1000_hab’.

In [142]:
df_pop.rename(columns={"valeur": "pop_1000_hab"}, inplace=True)
df_pop = df_pop[["code_zone_(fao)", "zone", "année", "pop_1000_hab"]]

In [143]:
df_pop

     code_zone_(fao)            zone  année  pop_1000_hab
0                  2     Afghanistan   2018      37172.00
1                  2     Afghanistan   2019      38041.75
2                202  Afrique du Sud   2018      57793.00
3                202  Afrique du Sud   2019      58558.27
4                  3         Albanie   2018       2883.00
..               ...             ...    ...           ...
361              249           Yémen   2019      29161.92
362              251          Zambie   2018      17352.00
363              251          Zambie   2019      17861.03
364              181        Zimbabwe   2018      14438.80
365              181        Zimbabwe   2019      14645.47

[366 rows x 4 columns]

### 6. Transformez products afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit, value.

In [144]:
produits = produits[["code_zone_(fao)", "zone", "produit", "année", "type", "unité" , "valeur" , 'élément']]
produits

,code_zone_(fao),zone,produit,année,type,unité,valeur,élément
0,2,Afghanistan,Viande de Bovins,2018,animal,kg,2.62,Disponibilité alimentaire en quantité (kg/pers...
1,2,Afghanistan,Viande de Bovins,2019,animal,kg,2.73,Disponibilité alimentaire en quantité (kg/pers...
2,2,Afghanistan,Viande de Bovins,2018,animal,million kcal,209191.00,Disponibilité alimentaire (Kcal)
3,2,Afghanistan,Viande de Bovins,2019,animal,million kcal,222521.90,Disponibilité alimentaire (Kcal)
4,2,Afghanistan,Viande de Bovins,2018,animal,g/personne/jour,1.09,Disponibilité de protéines en quantité (g/pers...
...,...,...,...,...,...,...,...,...
93453,181,Zimbabwe,Miscellanees,2019,vegetable,million kcal,15718.43,Disponibilité alimentaire (Kcal)
93454,181,Zimbabwe,Miscellanees,2018,vegetable,g/personne/jour,0.04,Disponibilité de protéines en quantité (g/pers...
93455,181,Zimbabwe,Miscellanees,2019,vegetable,g/personne/jour,0.09,Disponibilité de protéines en quantité (g/pers...
93456,181,Zimbabwe,Miscellanees,2018,vegetable,g/personne/jour,0.01,Disponibilité de matière grasse en quantité (g...
93457,181,Zimbabwe,Miscellanees,2019,vegetable,g/personne/jour,0.04,Disponibilité de matière grasse en quantité (g...

### 7. Fusionnez df_pop avec products et nommez ce DataFrame df. Afin de fusionner ces jeux de données vous devez identifier les clés primaires. Renommer les colonnes comme sur la capture d’écran ci-dessous.
Note : ajouter la population à la base de données créera de la redondance dans la bdd mais simplifiera les calculs pour les questions suivantes. Ne pas supprimer df_pop.

In [145]:
df = pd.merge(df_pop, produits, on=["code_zone_(fao)", "zone", "année"]) 
df

,code_zone_(fao),zone,année,pop_1000_hab,produit,type,unité,valeur,élément
0,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,kg,2.62,Disponibilité alimentaire en quantité (kg/pers...
1,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,million kcal,209191.00,Disponibilité alimentaire (Kcal)
2,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.09,Disponibilité de protéines en quantité (g/pers...
3,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.20,Disponibilité de matière grasse en quantité (g...
4,2,Afghanistan,2018,37172.00,Viande d'Ovins/Caprins,animal,kg,4.26,Disponibilité alimentaire en quantité (kg/pers...
...,...,...,...,...,...,...,...,...,...
124995,181,Zimbabwe,2019,14645.47,Aliments pour enfants,vegetable,g/personne/jour,0.00,Disponibilité de matière grasse en quantité (g...
124996,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,kg,2.62,Disponibilité alimentaire en quantité (kg/pers...
124997,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,million kcal,15718.43,Disponibilité alimentaire (Kcal)
124998,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.09,Disponibilité de protéines en quantité (g/pers...
124999,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.04,Disponibilité de matière grasse en quantité (g...

### 8. Quelles sont les types de données de chaque colonne ?

In [146]:
df.dtypes

code_zone_(fao)      int64
zone                object
année                int64
pop_1000_hab       float64
produit             object
type                object
unité               object
valeur             float64
élément             object
dtype: object

### 9. Combien y-a t’il de valeurs manquantes par variable ?

In [147]:
df.isna().sum()

code_zone_(fao)    0
zone               0
année              0
pop_1000_hab       0
produit            0
type               0
unité              0
valeur             0
élément            0
dtype: int64

### 10. Est-ce qu’il y a des valeurs aberrantes ? (population négative, etc.) Utilisez un récapitulatif statistique pour répondre à cette question.

In [148]:
df.describe()

       code_zone_(fao)          année  pop_1000_hab        valeur
count    125000.000000  125000.000000  1.250000e+05  1.250000e+05
mean        128.742184    2018.508584  5.143125e+04  1.602805e+05
std          75.250822       0.499928  1.872539e+05  4.074610e+06
min           1.000000    2018.000000  1.076000e+01 -3.000000e-02
25%          66.000000    2018.000000  2.801000e+03  0.000000e+00
50%         124.000000    2019.000000  9.965000e+03  3.500000e-01
75%         191.000000    2019.000000  3.182529e+04  1.732000e+01
max         351.000000    2019.000000  1.465634e+06  4.623915e+08

In [149]:
df = df[df['valeur'] >= 0]
df.describe()

       code_zone_(fao)          année  pop_1000_hab        valeur
count    124999.000000  124999.000000  1.249990e+05  1.249990e+05
mean        128.742166    2018.508588  5.143141e+04  1.602818e+05
std          75.251123       0.499928  1.872546e+05  4.074626e+06
min           1.000000    2018.000000  1.076000e+01  0.000000e+00
25%          66.000000    2018.000000  2.801000e+03  0.000000e+00
50%         124.000000    2019.000000  9.965000e+03  3.500000e-01
75%         191.000000    2019.000000  3.182529e+04  1.732000e+01
max         351.000000    2019.000000  1.465634e+06  4.623915e+08

### 11. Affichez les valeurs uniques de la colonne area

In [150]:
df.zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus', 'Belgique',
       'Belize', 'Bénin', 'Bhoutan', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Seychelles', 'Sierra Leone', 'Slovaquie',
       'Slovénie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

### 12. Gardez uniquement les informations relatives aux pays (supprimez les zones géographiques ou économiques) Note : en fonction de votre méthode d’importation de données cette étape est facultative.

### 13. Modifiez votre jeu de données afin que les informations soient indexées par area_code, area, year, pop_1000_hab, type et item. Les valeurs de la colonne element doivent être séparées dans des colonnes différentes. Recherchez sur internet la différence entre les formats long et les formats wide. Pour réussir cette étape creuser la méthode pivot_table. Il est préférable d’appliquer la méthode reset_index() après avoir utilisé la méthode précédente.

In [151]:
df_index = df.set_index(["code_zone_(fao)", "zone", "année" , "pop_1000_hab" , "type","produit"])
df_index

                                                                                           unité  \
code_zone_(fao) zone        année pop_1000_hab type      produit
2               Afghanistan 2018  37172.00     animal    Viande de Bovins                     kg
                                                         Viande de Bovins           million kcal
                                                         Viande de Bovins        g/personne/jour
                                                         Viande de Bovins        g/personne/jour
                                                         Viande d'Ovins/Caprins               kg
...                                                                                          ...
181             Zimbabwe    2019  14645.47     vegetable Aliments pour enfants   g/personne/jour
                                                         Miscellanees                         kg
                                                         Miscellanees               million kcal
                                                         Miscellanees            g/personne/jour
                                                         Miscellanees            g/personne/jour

                                                                                    valeur  \
code_zone_(fao) zone        année pop_1000_hab type      produit
2               Afghanistan 2018  37172.00     animal    Viande de Bovins             2.62
                                                         Viande de Bovins        209191.00
                                                         Viande de Bovins             1.09
                                                         Viande de Bovins             1.20
                                                         Viande d'Ovins/Caprins       4.26
...                                                                                    ...
181             Zimbabwe    2019  14645.47     vegetable Aliments pour enfants        0.00
                                                         Miscellanees                 2.62
                                                         Miscellanees             15718.43
                                                         Miscellanees                 0.09
                                                         Miscellanees                 0.04

                                                                                                                           élément
code_zone_(fao) zone        année pop_1000_hab type      produit
2               Afghanistan 2018  37172.00     animal    Viande de Bovins        Disponibilité alimentaire en quantité (kg/pers...
                                                         Viande de Bovins                         Disponibilité alimentaire (Kcal)
                                                         Viande de Bovins        Disponibilité de protéines en quantité (g/pers...
                                                         Viande de Bovins        Disponibilité de matière grasse en quantité (g...
                                                         Viande d'Ovins/Caprins  Disponibilité alimentaire en quantité (kg/pers...
...                                                                                                                            ...
181             Zimbabwe    2019  14645.47     vegetable Aliments pour enfants   Disponibilité de matière grasse en quantité (g...
                                                         Miscellanees            Disponibilité alimentaire en quantité (kg/pers...
                                                         Miscellanees                             Disponibilité alimentaire (Kcal)
                                                         Miscellanees            Disponibilité de protéines en quantité (g/pers...
                                                         Miscellanees            Disponibilité de matière grasse en quantité (g...

[124999 rows x 3 columns]

In [152]:
# je veut afficher 100 lignes
pd.set_option('display.max_rows', 100)
# remplace les nan par 0 pour la colonne valeur
df_pivot = df_index.pivot_table(index=["code_zone_(fao)", "zone", "année" , "pop_1000_hab" , "produit"], columns="élément", values="valeur").reset_index()
df_pivot = df_pivot.fillna(0)
# mettre pour la colonne disponibilité alimentaire 3 chiffres après la virgule
df_pivot['Disponibilité alimentaire (Kcal)'] = df_pivot["Disponibilité alimentaire (Kcal)"].round(1)
df_pivot

élément,code_zone_(fao),zone,année,pop_1000_hab,produit,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
0,1,Arménie,2018,2951.74,Abats Comestible,21172.2,6.63,0.56,3.25
1,1,Arménie,2018,2951.74,"Agrumes, Autres",33.6,0.03,0.00,0.00
2,1,Arménie,2018,2951.74,Aliments pour enfants,1739.6,0.16,0.01,0.07
3,1,Arménie,2018,2951.74,Ananas et produits,416.7,0.26,0.00,0.00
4,1,Arménie,2018,2951.74,Animaux Aquatiques Autre,8.4,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...
31423,351,Chine,2019,1465634.16,Viande de Volailles,38215653.5,15.45,5.55,5.00
31424,351,Chine,2019,1465634.16,Viande de porcins,186348288.8,36.13,33.40,10.93
31425,351,Chine,2019,1465634.16,"Viande, Autre",849261.6,0.53,0.06,0.24
31426,351,Chine,2019,1465634.16,Vin,1863557.3,1.86,0.00,0.00
31427,351,Chine,2019,1465634.16,"Épices, Autres",696822.3,0.14,0.05,0.05

### 15. Créez des masques afin d’afficher un DataFrame qui ne contient que l’année 2018

In [153]:
df_masque = df_pivot[df_pivot['année'] == 2018]
df_masque

élément,code_zone_(fao),zone,année,pop_1000_hab,produit,Disponibilité alimentaire (Kcal),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
0,1,Arménie,2018,2951.74,Abats Comestible,21172.2,6.63,0.56,3.25
1,1,Arménie,2018,2951.74,"Agrumes, Autres",33.6,0.03,0.00,0.00
2,1,Arménie,2018,2951.74,Aliments pour enfants,1739.6,0.16,0.01,0.07
3,1,Arménie,2018,2951.74,Ananas et produits,416.7,0.26,0.00,0.00
4,1,Arménie,2018,2951.74,Animaux Aquatiques Autre,8.4,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...
31330,351,Chine,2018,1459378.00,Viande de Volailles,36041545.0,14.47,5.28,4.68
31331,351,Chine,2018,1459378.00,Viande de porcins,199707178.0,38.78,35.96,11.74
31332,351,Chine,2018,1459378.00,"Viande, Autre",885363.0,0.54,0.07,0.24
31333,351,Chine,2018,1459378.00,Vin,1862058.0,1.87,0.00,0.00
31334,351,Chine,2018,1459378.00,"Épices, Autres",708185.0,0.14,0.05,0.04