# Activité guidée : Découverte de Pandas

In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### 1. Nettoyer les titres de colonnes :
- Supprimer les espaces au début et à la fin des titres (s’il y en a)
- Remplacer les espaces par des underscores (ceux se situant entre les mots)
- Tout mettre en minuscule

In [94]:
df_anim = pd.read_csv('data/df_anim.csv')
df_veg = pd.read_csv('data/df_veg.csv')
df_pop = pd.read_csv('data/df_pop.csv')

In [95]:
for df in [df_anim, df_veg, df_pop]:
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')

### 2. Quelle sont les dimensions des jeux de données ?

In [96]:
for df in [df_anim, df_veg, df_pop]:
    print(df.shape)

(31542, 14)
(93458, 14)
(366, 14)

### 3. A quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [97]:
# animals
df_anim.head()

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,2018,2018,g/personne/jour,1.09,E,Valeur estimée

In [98]:
# vegetables
df_veg.head()

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé et produits,2018,2018,kg,160.12,E,Valeur estimée
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé et produits,2019,2019,kg,158.95,E,Valeur estimée
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2511,Blé et produits,2018,2018,million kcal,18615276.00,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2511,Blé et produits,2019,2019,million kcal,18906911.71,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé et produits,2018,2018,g/personne/jour,37.00,E,Valeur estimée

In [99]:
# population
df_pop.head()

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2018,2018,1000 personnes,37172.00,X,Ciffre de sources internationales
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,511,Population totale,2501,Population,2019,2019,1000 personnes,38041.75,X,Ciffre de sources internationales
2,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2018,2018,1000 personnes,57793.00,X,Ciffre de sources internationales
3,FBS,Bilans Alimentaires (2010-),202,Afrique du Sud,511,Population totale,2501,Population,2019,2019,1000 personnes,58558.27,X,Ciffre de sources internationales
4,FBS,Bilans Alimentaires (2010-),3,Albanie,511,Population totale,2501,Population,2018,2018,1000 personnes,2883.00,X,Ciffre de sources internationales

### 4. Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal’ et ‘vegetal’. Une fois cette étape effectuée, regroupez les deux jeux de données en 1 et appelez ce DataFrame product. Attention à bien comprendre la structure des données pour utiliser la bonne méthode.

In [100]:
df_veg["type"] = "vegetable"
df_anim["type"] = "animal"


produits = pd.concat([df_anim, df_veg], axis=0)
produits

,code_domaine,domaine,code_zone_(fao),zone,code_élément,élément,code_produit_(fao),produit,code_année,année,unité,valeur,symbole,description_du_symbole,type
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2018,2018,kg,2.62,E,Valeur estimée,animal
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2019,2019,kg,2.73,E,Valeur estimée,animal
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2018,2018,million kcal,209191.00,I,Valeur imputée,animal
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,661,Disponibilité alimentaire (Kcal),2731,Viande de Bovins,2019,2019,million kcal,222521.90,I,Valeur imputée,animal
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,2018,2018,g/personne/jour,1.09,E,Valeur estimée,animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93453,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,661,Disponibilité alimentaire (Kcal),2899,Miscellanees,2019,2019,million kcal,15718.43,I,Valeur imputée,vegetable
93454,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2018,2018,g/personne/jour,0.04,E,Valeur estimée,vegetable
93455,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2019,2019,g/personne/jour,0.09,E,Valeur estimée,vegetable
93456,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2018,2018,g/personne/jour,0.01,E,Valeur estimée,vegetable
93457,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2019,2019,g/personne/jour,0.04,E,Valeur estimée,vegetable

## 5. Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population. Renommer la colonne ‘value’ en ‘pop_1000_hab’.

In [101]:
df_pop.rename(columns={"valeur": "pop_1000_hab"}, inplace=True)
df_pop = df_pop[["code_zone_(fao)", "zone", "année", "pop_1000_hab"]]

In [102]:
df_pop

     code_zone_(fao)            zone  année  pop_1000_hab
0                  2     Afghanistan   2018      37172.00
1                  2     Afghanistan   2019      38041.75
2                202  Afrique du Sud   2018      57793.00
3                202  Afrique du Sud   2019      58558.27
4                  3         Albanie   2018       2883.00
..               ...             ...    ...           ...
361              249           Yémen   2019      29161.92
362              251          Zambie   2018      17352.00
363              251          Zambie   2019      17861.03
364              181        Zimbabwe   2018      14438.80
365              181        Zimbabwe   2019      14645.47

[366 rows x 4 columns]

### 6. Transformez products afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit, value.

In [103]:
produits = produits[["code_zone_(fao)", "zone", "produit", "année", "type", "unité" , "valeur"]]
produits

,code_zone_(fao),zone,produit,année,type,unité,valeur
0,2,Afghanistan,Viande de Bovins,2018,animal,kg,2.62
1,2,Afghanistan,Viande de Bovins,2019,animal,kg,2.73
2,2,Afghanistan,Viande de Bovins,2018,animal,million kcal,209191.00
3,2,Afghanistan,Viande de Bovins,2019,animal,million kcal,222521.90
4,2,Afghanistan,Viande de Bovins,2018,animal,g/personne/jour,1.09
...,...,...,...,...,...,...,...
93453,181,Zimbabwe,Miscellanees,2019,vegetable,million kcal,15718.43
93454,181,Zimbabwe,Miscellanees,2018,vegetable,g/personne/jour,0.04
93455,181,Zimbabwe,Miscellanees,2019,vegetable,g/personne/jour,0.09
93456,181,Zimbabwe,Miscellanees,2018,vegetable,g/personne/jour,0.01
93457,181,Zimbabwe,Miscellanees,2019,vegetable,g/personne/jour,0.04

### Fusionnez df_pop avec products et nommez ce DataFrame df. Afin de fusionner ces jeux de données vous devez identifier les clés primaires. Renommer les colonnes comme sur la capture d’écran ci-dessous.
Note : ajouter la population à la base de données créera de la redondance dans la bdd mais simplifiera les calculs pour les questions suivantes. Ne pas supprimer df_pop.

In [104]:
df = pd.merge(df_pop, produits, on=["code_zone_(fao)", "zone", "année"]) 
df

,code_zone_(fao),zone,année,pop_1000_hab,produit,type,unité,valeur
0,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,kg,2.62
1,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,million kcal,209191.00
2,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.09
3,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.20
4,2,Afghanistan,2018,37172.00,Viande d'Ovins/Caprins,animal,kg,4.26
...,...,...,...,...,...,...,...,...
124995,181,Zimbabwe,2019,14645.47,Aliments pour enfants,vegetable,g/personne/jour,0.00
124996,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,kg,2.62
124997,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,million kcal,15718.43
124998,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.09
124999,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.04

### 8. Quelles sont les types de données de chaque colonne ?

In [105]:
df.dtypes

code_zone_(fao)      int64
zone                object
année                int64
pop_1000_hab       float64
produit             object
type                object
unité               object
valeur             float64
dtype: object

### 9. Combien y-a t’il de valeurs manquantes par variable ?

In [106]:
df.isna().sum()

code_zone_(fao)    0
zone               0
année              0
pop_1000_hab       0
produit            0
type               0
unité              0
valeur             0
dtype: int64

### 10. Est-ce qu’il y a des valeurs aberrantes ? (population négative, etc.) Utilisez un récapitulatif statistique pour répondre à cette question.

In [107]:
df.describe()

       code_zone_(fao)          année  pop_1000_hab        valeur
count    125000.000000  125000.000000  1.250000e+05  1.250000e+05
mean        128.742184    2018.508584  5.143125e+04  1.602805e+05
std          75.250822       0.499928  1.872539e+05  4.074610e+06
min           1.000000    2018.000000  1.076000e+01 -3.000000e-02
25%          66.000000    2018.000000  2.801000e+03  0.000000e+00
50%         124.000000    2019.000000  9.965000e+03  3.500000e-01
75%         191.000000    2019.000000  3.182529e+04  1.732000e+01
max         351.000000    2019.000000  1.465634e+06  4.623915e+08

In [127]:
df = df[df["valeur"] > 0]
df.describe()

,code_zone_(fao),zone,année,pop_1000_hab,produit,type,unité,valeur
0,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,kg,2.62
1,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,million kcal,209191.00
2,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.09
3,2,Afghanistan,2018,37172.00,Viande de Bovins,animal,g/personne/jour,1.20
4,2,Afghanistan,2018,37172.00,Viande d'Ovins/Caprins,animal,kg,4.26
...,...,...,...,...,...,...,...,...
124994,181,Zimbabwe,2019,14645.47,Aliments pour enfants,vegetable,g/personne/jour,0.02
124996,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,kg,2.62
124997,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,million kcal,15718.43
124998,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.09
124999,181,Zimbabwe,2019,14645.47,Miscellanees,vegetable,g/personne/jour,0.04